<div class="font-bold grid grid-cols-10 px-4 gap-x-4">
    <div class="col-span-1 pl-1 flex items-center">{{item.no}}</div>
    <div class="col-span-5 flex">
        <div class="w-20">
            <img src="assets/img/{{item.img}}" class="w-full" alt="">
        </div>
        <div class="pl-4">
            {{item.book}}
        </div>
    </div>
    <div class="col-span-2 flex items-center">{{item.author}}</div>
    <div class="col-span-1 flex items-center">{{item.sold}}</div>
    <div class="col-span-1 flex items-center">{{item.view}}</div>
</div>
