.box:hover .box1 {
    background-color: #559afe;
    color: white;
}
.box:hover .box1 i {
    color: white;
}
.box:hover i {
    color: white;
}
.icon-color-green{
    color: #8bc38a;
}
.icon-color-red{
    color: #fe7d54;
}
.icon-color-blue{
    color: #438ffe;
}
.icon-color-lightGreen{
    color: #83bcbd;
}