<div class="bg-[#f8f8f8]">
    <app-group-header></app-group-header>
    <div class="grid grid-cols-10">
        <div class="col-span-1">
            <app-group-left></app-group-left>
        </div>
        <div class="col-span-9 pr-12">
            <app-group-box></app-group-box>
            <div class="grid grid-cols-11 gap-x-6 mt-8">
                <app-group-list class="col-span-7"></app-group-list>
                <div class="col-span-4">Chart</div>
            </div>
        </div>
    </div>
</div>
