<div class="h-24 bg-slate-300 relative flex items-center">
    <div class="w-24 flex justify-center">
        <app-atom-icon [name]="'fa-square-o'" class="text-indigo-300 cursor-pointer"></app-atom-icon>
    </div>
    <app-molec-search class="pl-14"></app-molec-search>
    <div class="absolute right-20 flex">
        <app-atom-icon [name]="'fa-commenting-o'" class="pr-4 cursor-pointer"></app-atom-icon>
        <app-atom-icon [name]="'fa-bell-o'" class="cursor-pointer"></app-atom-icon>
        <img src="assets/img/avt.png" width="30px" height="30px" class="rounded-full mx-4 cursor-pointer" alt="">
        <app-atom-icon [name]="'fa-angle-down'" class="cursor-pointer"></app-atom-icon>
    </div>
</div>