<div class="h-24 bg-white relative flex items-center border-b-2">
    <div class="w-24 flex justify-center text-xl ">
        <app-atom-icon [name]="'fa-square-o'" class="text-[#438ffe] cursor-pointer -ml-2"></app-atom-icon>
    </div>
    <div class=" absolute  w-1.5 h-1.5 bg-[#fe764b] rounded-full" style="right: 188px;top: 34px;"></div>
    <div class=" absolute  w-1.5 h-1.5 bg-[#fe764b] rounded-full" style="right: 152px;top: 34px;"></div>
    <app-molec-search class="pl-14"></app-molec-search>
    <div class="absolute right-20 flex text-[#c2c6d1] text-xl">
        <app-atom-icon [name]="'fa-commenting-o'" class="mr-4"></app-atom-icon>
        <app-atom-icon [name]="'fa-bell-o'"></app-atom-icon>
        <img src="assets/img/manh.jpg" width="30px" height="30px" class="rounded-full mx-4 cursor-pointer" alt="">
        <app-atom-icon [name]="'fa-angle-down'"></app-atom-icon>
    </div>
</div>